{%extends "layout.html" %}
{% block body %}
<div class="container">
    {%if article%}
    <h4>{{article.title}}</h4>
    <hr>
    <p>Yazar :{{article.author}}</p>
    <hr>
    <p>Tarih :{{article.create_date}}</p>
    <hr>
    <p>{{article.content|safe}}</p><!--safe html içerinide yazdırmaya yarar yani resim vs-->
    {%else%}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Uyarı!</h4>
        <p>Böyle bir Makale bulunmuyor...</p>
        <hr>
    </div>
    {%endif%}
</div>
{%endblock%}